<html>
	<head>
		<title> Cars destiny</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
	<div class= container>
		<div class="ui inverted menu">
			<div class="container">
				<div class="header item">CARS</div>
				<a href="/cars" class="item">Home</a>
				<a href="/cars/new" class="item">New Post</a>
			</div>
		</div>
	</div>

		
